# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ride_hailing_dw
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=ride-hailing-data

# Airflow
AIRFLOW_UID=50000

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_RIDE_EVENTS_TOPIC=ride_events

# Project
PROJECT_NAME=Ride-Hailing Data Engineering, Analytics & ML Platform
PROJECT_ENV=development
